@use "../utils/varibales" as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;1,600&family=Big+Shoulders+Display:wght@700&family=Inter&family=Josefin+Sans:wght@300;600&family=Lexend+Deca&family=Overpass:wght@400;700&family=Rubik:wght@300;400;500&display=swap');


body{
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;
    height: 100vh;
    background-color: $very-dark-blue;
    font-family: 'Overpass', sans-serif;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    color:$medium-grey-icon;
    span{
        color:$light-grey;
        cursor: pointer;
        text-decoration: underline;
    }

    span:hover{
        text-decoration: none;
        color:$dark-blue
    }
}